:root {
  --primary-color: #ac4f06;
  --background-color: #dcdcdc;
  --secondary-color: #ffbc00;
  --info-color: #0081ff;
  --warning-color: #ff8e00;
  --hover-color: #582e0b;
}

:root .dp__theme_light {
  --dp-background-color: #ffffff;
  --dp-text-color: #212121;
  --dp-hover-color: #f3f3f3;
  --dp-hover-text-color: #212121;
  --dp-hover-icon-color: #959595;
  --dp-primary-color: #1976d2;
  --dp-primary-text-color: #f8f5f5;
  --dp-secondary-color: #c0c4cc;
  --dp-border-color: #ddd;
  --dp-menu-border-color: #ddd;
  --dp-border-color-hover: var(--secondary-color);
  --dp-disabled-color: #f6f6f6;
  --dp-scroll-bar-background: #f3f3f3;
  --dp-scroll-bar-color: #959595;
  --dp-success-color: var(--secondary-color);
  --dp-success-color-disabled: #a3d9b1;
  --dp-icon-color: var(--primary-color);
  --dp-danger-color: #ff6f60;
}
